<%= form_for(@sell) do |f| %>
  <% if @sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sell.errors.count, "error") %> prohibited this sell from being saved:</h2>

      <ul>
      <% @sell.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :domain %><br>
    <%= f.text_field :domain, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price , :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class=>"form-control" %>
  </div>
  <div class="field form-group">
    <center><small>How would you like to list ?</small></center>
    <table class="table">
      <thead>
        <tr>
          <th><%= f.check_box :premium %> Premium Domain<br/>
            <small class = "text-muted">$ 2.99 / Month</small>
          </th>
          <th><%= f.check_box :regular %> Regular Domain<br/>
            <small class = "text-muted">99 cents / Month</small>
          </th>
        </tr>
      </thead>

    </table>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class=>"btn btn-primary btn-block" %>
  </div>
<% end %>







